github "SnapKit/SnapKit" ~> 3.0.2
github "ibireme/YYKit"
github "SVProgressHUD/SVProgressHUD"
github "TTTAttributedLabel/TTTAttributedLabel"
github "AgileBits/onepassword-extension" "add-framework-support"
github "realm/realm-cocoa"
